<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs">
  <Package Name="IIGO.Installer" Manufacturer="TODO Manufacturer" Version="1.0.0.0" UpgradeCode="30ffffb5-1784-4729-802a-879849e393e7">
    <MajorUpgrade DowngradeErrorMessage="!(loc.DowngradeError)" />

    <Feature Id="Main">
      <ComponentGroupRef Id="ExampleComponents" />
    </Feature>
  </Package>
</Wix>
