@page "/websites/new"
@using IIGO.Data
@using IIGO.Services
@using Microsoft.AspNetCore.Identity
@using Microsoft.Web.Administration
@using System.ComponentModel.DataAnnotations
@inject IHttpContextAccessor httpContextAccessor
@attribute [Authorize]
@attribute [StreamRendering]
@rendermode InteractiveServer

<PageTitle>Add Website</PageTitle>

<h1>Add Website</h1>

<div class="row">
    <div class="col-md-8 mx-auto">
        <EditForm method="post" OnValidSubmit="SubmitWebsite" Model="NewWebsite" FormName="NewWebsite">
            <DataAnnotationsValidator />
            <div class="row mb-3">
                <div class="col-md-6">
                    <div class="form-floating">
                        <InputText class="form-control" @bind-Value="NewWebsite.Name" id="name" @oninput="NameInput" aria-required="true" placeholder="Website Name" />
                        <label for="name" class="form-label">Website Name</label>
                        <ValidationMessage For="() => NewWebsite.Name" class="text-danger" />
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-floating">
                        <InputText class="form-control" @bind-Value="NewWebsite.ApplicationPool" id="applicationPool" aria-required="true" placeholder="Application Pool" />
                        <label for="applicationPool" class="form-label">Application Pool</label>
                        <ValidationMessage For="() => NewWebsite.ApplicationPool" class="text-danger" />
                    </div>
                </div>
            </div>
            <div class="row mb-3">
                <div class="col-md-6">
                    <div class="form-floating">
                        <InputSelect class="form-control" @bind-Value="NewWebsite.Scheme" id="scheme" aria-required="true" placeholder="Scheme">
                           <option value="http">http</option>
                            <option value="https">https</option>
                        </InputSelect>
                        <label for="scheme" class="form-label">Type</label>
                        <ValidationMessage For="() => NewWebsite.Scheme" class="text-danger" />
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-floating">
                        <InputText class="form-control" @bind-Value="NewWebsite.IPAddress" id="IPAddress" aria-required="true" placeholder="IP Address" />
                        <label for="IPAddress" class="form-label">IP Address</label>
                        <ValidationMessage For="() => NewWebsite.IPAddress" class="text-danger" />
                    </div>
                </div>
            </div>
            <div>
                <button type="submit" class="btn btn-primary">Submit</button>
            </div>
        </EditForm>
    </div>
</div>

@code {

    [SupplyParameterFromForm]
    private NewWebsiteModel NewWebsite { get; set; } = new NewWebsiteModel();

    protected override void OnInitialized()
    {

    }

    protected void SubmitWebsite()
    {

    }

    protected void NameInput(ChangeEventArgs e)
    {
        NewWebsite.ApplicationPool = e.Value?.ToString() ?? "DefaultAppPool";
    }

    public class NewWebsiteModel
    {
        [Required]
        public string Name { get; set; } = "";

        [Required]
        public string Scheme { get; set; } = "http";

        [Required]
        public string IPAddress { get; set; } = "*";

        public string Hostname { get; set; } = "";

        [Required]
        public string Port { get; set; } = "80";

        [Required]
        public string PhysicalPath { get; set; } = "";

        [Required]
        public string ApplicationPool { get; set; } = "DefaultAppPool";
    }
}