@page "/websites/new"
@using IIGO.Data
@using IIGO.Services
@using Microsoft.AspNetCore.Identity
@using Microsoft.Web.Administration
@inject IHttpContextAccessor httpContextAccessor
@attribute [Authorize]
@attribute [StreamRendering]
@rendermode InteractiveServer

<PageTitle>Add Website</PageTitle>

<h1>Add Website</h1>

@code {
    protected override void OnInitialized()
    {

    }
}