@page "/apppoolmonitor"
@using IIGO.Services
@inject ConfigurationService configService
@inject AppPoolMonitorService monitorService

<PageTitle>Application Pool Monitor</PageTitle>

<h1>AppPoolMonitor</h1>


@code {

}
