@using IIGO.Services
@inherits LayoutComponentBase

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4">
            <div class="position-absolute start-0 ps-3">@System.Environment.MachineName</div>
        </div>

        <article class="content px-4">
            @Body
        </article>

        <div class="bottom-row pe-3">
            <img src="/images/TheScripters_Icon.svg" class="position-absolute start-0 ps-3" />
            &copy; @DateTime.Now.Year; v@(Constants.IIGOVersion)
        </div>
    </main>
</div>

<div id="blazor-error-ui">
    An unhandled error has occurred.
    <a href="" class="reload">Reload</a>
    <a class="dismiss">🗙</a>
</div>
