@page "/"
@using Microsoft.Web.Administration
@using IISControlPanel.Services
@inject IISService IISService

<PageTitle>Index</PageTitle>

<h1>Dashboard</h1>

@if (appPools == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Status</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var pool in appPools)
            {
                <tr>
                    <td>@pool.Name</td>
                    <td>@pool.State</td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
	List<ApplicationPool> appPools;

    protected override async Task OnInitializedAsync()
    {
        appPools = await IISService.GetAppPools();
    }
}
