@inherits LayoutComponentBase

<PageTitle>IIGO</PageTitle>

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4 auth">
            <div class="position-absolute start-0 ps-3">@System.Environment.MachineName</div>
            <LoginDisplay />
        </div>

        <article class="content px-4">
            @Body
        </article>

        <div class="bottom-row">
            <img src="/images/TheScripters_Icon.svg" class="position-absolute start-0 ps-3" />
            &copy; @DateTime.Now.Year
        </div>
    </main>
</div>
