<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">IIGO Panel</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass nav-scrollable" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Home
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/counter">
                <span class="oi oi-plus" aria-hidden="true"></span> Counter
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/websites">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Websites
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/apppools">
                <span class="oi oi-list-rich" aria-hidden="true"></span> App Pools
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/checkupdates">
                <span class="oi oi-list-rich" aria-hidden="true"></span>Check updates
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/processes">
                <span class="oi oi-list-rich" aria-hidden="true"></span>Processes
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/status">
                <span class="oi oi-list-rich" aria-hidden="true"></span>Status
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/firewall">
                <span class="oi oi-list-rich" aria-hidden="true"></span>Firewall
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/tasks">
                <span class="oi oi-list-rich" aria-hidden="true"></span>Task Scheduler
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/services">
                <span class="oi oi-list-rich" aria-hidden="true"></span>Services
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/license">
                <span class="oi oi-list-rich" aria-hidden="true"></span>License Status
            </NavLink>
        </div>
    </nav>
</div>

@code {
    private bool collapseNavMenu = true;

    private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
